section.buttons {
    margin-top: -10px;
}

div#quijesuis {
    padding-top: 120px;
}

section.page {
    padding-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
}

div#quijesuis {
    padding-top: 330px;
}