section.buttons {
    margin-top: -10px;
}

div#quijesuis {
    padding-top: 120px;
}

section.page {
    padding-bottom: 30px;
}

footer {
    bottom: 100;
}

button.button {
    font-weight: bold;
    background-color: #4751c4;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 40%;
    height: 10%;
    line-height: 2.3;
}


button:active {
    background-color: #24a135;
}

@media screen and (max-width: 888px) {
    button.button {
        width: 60%;
    }
}

@media only screen and (max-width: 660px) {
    button.button {
        width: 80%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    button.button {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    button.button {
        font-size: 12px;
    }
}